body {
  font-family:'Lucida Sans';
}

h1 {
 text-align: center;
}

input[type="radio"] {
  margin-right: 0;
}

form {
  width: 370px;
  margin-left: 2%;
}

img {
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.pb5 {
  padding-bottom: 10px;
}

.article-body {
  display: flex;
  flex-direction: row;
}

.left-content {
  display: inherit;
  flex-direction: column;
  flex: 1;
  padding: 1% 1% 2% 2%;
  align-content: center;
}

.right-content {
  display: inherit;
  flex-direction: column;
  flex: 1;
  padding: 1% 1% 2% 2%;
}

@media only screen and (max-width: 768px) {

  img {
    width: 300px;
  }

  h1 {
    font-size: large;
  }

  h3 {
    font-size: medium;
  }

  .article {
    margin-right: 2%;
  }

  .article-body {
    flex-direction: column;
  }
}