html {
  height: 100%;
  background: -webkit-linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );

    background: linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
}
  
div.app {
  height: 100%;
  background-color: cornsilk;
}

.flex{
    display: flex;
    flex-direction: column;
}
.flexOnly{
    display: flex;
}

.rowCenter{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.smallHeight{
    height: 30px;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder{
    border: 0;
}

.gradient-custom-2 {

  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );
}
  
.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  margin: auto 65vh;
  margin-top: 25vh;
  margin-bottom: -30px;
  padding: 5vh;
}

.shortButton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 14px 30px;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}

.copyButton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 5px;
    margin: 10px 6px;
    cursor: pointer;
}

.urlBox {
    border-radius: 20px;
    height: 7vh;
    width: 35vh;
    font-size: 20px;
    padding-left: 15px;
}
.urlBox_2 {
    border-radius: 20px;
    height: 7vh;
    width: 35vh;
    font-size: 20px;
    padding-left: 15px;
    background-color: white;
    padding-top: 9px;
}
